.gitignore

# Ignorar entorno virtual
venv_IDL1_ML1_Mariana/

# Resultados y modelos binarios
*.pkl
*.pyc

# Checkpoints y configuración de entorno
.ipynb_checkpoints/
.vscode/
__pycache__/

# Resultados grandes
resultados_modelos/


